USE [master]
GO
/****** Object:  Database [Inova]    Script Date: 17/08/2016 06:56:14 ******/

/*DROP DATABASE Inova;*/ 
CREATE DATABASE [Inova]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Inova', FILENAME = N'**********************URL AQUI********************\DATA\Inova.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Inova_log', FILENAME = N'**********************URL AQUI********************\DATA\Inova_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Inova].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Inova]
GO
/****** Object:  Table [dbo].[TB_Categoria]    Script Date: 17/08/2016 06:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_Categoria](
	[ID_Categoria] [int] IDENTITY(1000,1) NOT NULL,
	[Categoria] [varchar](25) NULL,
 CONSTRAINT [PK_TB_Categoria] PRIMARY KEY CLUSTERED 
(
	[ID_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_Fornecedor]    Script Date: 17/08/2016 06:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_Fornecedor](
	[ID_Fornecedor] [int] NOT NULL,
	[Empresa] [varchar](50) NULL,
	[Razao_Social] [varchar](50) NULL,
	[CNPJ] [varchar](18) NULL,
	[IE] [int] NULL,
	[Logradouro] [varchar](50) NULL,
	[Numero] [varchar](10) NULL,
	[Bairro] [varchar](50) NULL,
	[Cidade] [varchar](50) NULL,
	[CEP] [varchar](50) NULL,
	[Estado] [varchar](50) NULL,
	[Telefone] [varchar](50) NULL,
	[Celular] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Data_Cadastro] [date] NOT NULL,
	[Complemento] [varchar](20) NULL,
 CONSTRAINT [PK_TB_Fornecedor] PRIMARY KEY CLUSTERED 
(
	[ID_Fornecedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_Marcas]    Script Date: 17/08/2016 06:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_Marcas](
	[ID_Marca] [int] IDENTITY(1000,1) NOT NULL,
	[Marca] [varchar](25) NULL,
 CONSTRAINT [PK_TB_Marcas] PRIMARY KEY CLUSTERED 
(
	[ID_Marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_Produto]    Script Date: 17/08/2016 06:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_Produto](
	[ID_Produto] [int] IDENTITY(1000,1) NOT NULL,
	[Produto] [varchar](50) NOT NULL,
	[Descricao] [varchar](50) NULL,
	[ID_Marca] [int] NULL,
	[ID_Categoria] [int] NULL,
	[ID_UMedida] [int] NULL,
	[Data_Cadastro] [date] NOT NULL,
	[EMinimo] [real] NULL,
	[EMaximo] [real] NULL,
 CONSTRAINT [PK_TB_Produto] PRIMARY KEY CLUSTERED 
(
	[ID_Produto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_UMedida]    Script Date: 17/08/2016 06:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_UMedida](
	[ID_UMedida] [int] IDENTITY(1000,1) NOT NULL,
	[Medida] [varchar](25) NULL,
 CONSTRAINT [PK_TB_UMedida] PRIMARY KEY CLUSTERED 
(
	[ID_UMedida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_Usuario]    Script Date: 17/08/2016 06:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_Usuario](
	[ID_Usuario] [int] IDENTITY(1000,1) NOT NULL,
	[Tipo] [varchar](50) NULL,
	[Status] [bit] NULL,
	[Senha] [varchar](50) NULL,
	[Login] [varchar](50) NULL,
	[Data_Cadastro] [date] NULL,
 CONSTRAINT [PK_TB_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
INSERT INTO TB_Usuario(Tipo,Status,Senha,Login,Data_Cadastro) VALUES('Administrador',1,'adm','adm','08/09/2016');
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IX_TB_Produto]    Script Date: 17/08/2016 06:56:14 ******/
CREATE NONCLUSTERED INDEX [IX_TB_Produto] ON [dbo].[TB_Produto]
(
	[ID_Produto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_Produto]  WITH NOCHECK ADD  CONSTRAINT [FK_TB_Produto_TB_Categoria] FOREIGN KEY([ID_Categoria])
REFERENCES [dbo].[TB_Categoria] ([ID_Categoria])
GO
ALTER TABLE [dbo].[TB_Produto] NOCHECK CONSTRAINT [FK_TB_Produto_TB_Categoria]
GO
ALTER TABLE [dbo].[TB_Produto]  WITH NOCHECK ADD  CONSTRAINT [FK_TB_Produto_TB_Marcas] FOREIGN KEY([ID_UMedida])
REFERENCES [dbo].[TB_Marcas] ([ID_Marca])
GO
ALTER TABLE [dbo].[TB_Produto] NOCHECK CONSTRAINT [FK_TB_Produto_TB_Marcas]
GO
ALTER TABLE [dbo].[TB_Produto]  WITH NOCHECK ADD  CONSTRAINT [FK_TB_Produto_TB_UMedida] FOREIGN KEY([ID_UMedida])
REFERENCES [dbo].[TB_UMedida] ([ID_UMedida])
GO
ALTER TABLE [dbo].[TB_Produto] NOCHECK CONSTRAINT [FK_TB_Produto_TB_UMedida]
GO
USE [master]
GO
